.edit-profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
}

.profile__title {
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
  text-align: center;
  margin: 74px 0 106px;
  color: #FFF;
}

.edit-profile__form {
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-profile__field {
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 17px 0 16px;
  margin: 0;
}

.edit-profile__field:first-of-type {
  border-bottom: 1px solid #424242;
}

.edit-profile__label {
  width: 50px;
  font-size: 11px;
  line-height: normal;
  font-weight: 500;
  text-align: left;
  color: #FFF;
}

.edit-profile__input {
  width: 100%;
  border: none;
  padding: 0;
  font-size: 11px;
  line-height: normal;
  font-weight: 400;
  text-align: right;
  color: #FFF;
  background-color: #202020;
}

.edit-profile__input:focus {
  border: none;
  outline: none;
}

.edit-profile__btn {
  height: 16px;
  border: none;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  margin-top: 206px;
  padding: 0;
  cursor: pointer;
  color: #FFF;
  background-color: #202020;
  transition: opacity 0.2s ease-in-out;
}

.edit-profile__btn:hover {
  opacity: 0.7;
}

.profile__btn_disabled {
  color: #0000007e;
  opacity: 1;

  cursor: default;
  pointer-events: none;
}

.profile__span-error {
  box-sizing: border-box;
  min-height: 30px;
  margin: 6px 0 2px;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #ee3465;
  /*opacity: 0;*/
  transition: opacity 0.3s linear;

  text-align: center;
  align-self: flex-end;
}

.profile__span-success {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: rgb(0, 0, 0);
    opacity: 0;
  
    margin: 16px 0 0;
    padding: 0;
  }
  
  .profile__span-success_active {
    opacity: 1;
  }

.form-profile__span-error-server {
  box-sizing: border-box;
  min-height: 15px;
  width: 100%;
  margin: 160px 0 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #ee3465;
  opacity: 0;

  text-align: center;
}

.form-profile__span-error-server_active {
  opacity: 1;
}

.profile__link-exit {
  font-size: 13px;
  line-height: normal;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin: 15px 0 70px;
  color: #EE3465;
  transition: opacity 0.2s ease-in-out;
}

.profile__link-exit:hover {
  opacity: 0.7;
}

@media screen and (max-width: 769px) {
  .profile__title {
    margin-bottom: 80px;
    margin-top: 236px;
  }

  .edit-profile__btn {
    margin-top: 196px;
  }

  .profile__btn {
    cursor: pointer;

    margin: 20px 0 0;
  }

  .profile__link-exit {
    margin-bottom: 268px;
  }

  .form-profile__span-error-server {
    margin-top: 140px;
  }
}

@media screen and (max-width: 520px) {
  .profile__title {
    margin-top: 70px;
    margin-bottom: 64px;
  }

  .edit-profile__form {
    max-width: 260px;
  }

  .edit-profile__btn {
    font-size: 12px;
    margin-top: 364px;
  }

  .profile__link-exit {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .profile__btn {
    margin: 20px 0 0;
  }

  .form-profile__span-error-server {
    margin-top: 342px;
  }
}