.page404 {
  min-height: 100vh;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page404__container {
  display: flex;
  flex-direction: column;
  margin-top: 246px;
}

.page404__title {
  font-size: 140px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  margin: 0 0 5px;
  color: #FFF;
}

.page404__subtitle {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: #FFF;
}

.page404__link {
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  text-decoration: none;
  margin: 184px 0 60px;
  text-align: center;
  cursor: pointer;
  color: #4285F4;
  transition: opacity 0.2s ease-in-out;
}

.page404__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 769px) {
  .page404__container {
    margin-top: 407px;
  }

  .page404__link {
    margin-bottom: 223px;
  }
}

@media screen and (max-width: 320px) {
  .page404__container {
    margin-top: 329px;
  }

  .page404__title {
    font-size: 80px;
    margin-bottom: 10px;
  }

  .page404__subtitle {
    font-size: 12px;
  }

  .page404__link {
    font-size: 12px;
    margin-top: 284px;
    margin-bottom: 30px;
  }
}